html,
body {
  width: 100%;
  background-color: whitesmoke;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app > * {
  margin: 5px;
}
#todo h5 {
  text-align: center;
}
#todo > * {
  margin: 5px;
}
#todo {
  box-shadow: 2px 2px 2px 2px;
}
