html,
body {
  width: 100%;
  background-color: whitesmoke;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app > * {
  margin: 5px;
}
#todo h5 {
  text-align: center;
}
#todo > * {
  margin: 5px;
}
#todo {
  box-shadow: 2px 2px 2px 2px;
}

#todo ol li:nth-child(2n + 1) {
  color: blue;
}
#todo ol li:nth-child(3n + 1) {
  color: green;
}
#todo ol li:nth-child(4n + 1) {
  color: yellow;
}
#todo ol li:nth-child(5n + 1) {
  color: orangered;
}
