<!-- {data.slice(0, 10).map((movie, i) => {
    return (
      <div
        key={i}
        className="{{card}}"
        style={{ width: "18rem", border: "1px solid black" }}
      >
        <img
          className="{{card-img-top}}"
          src="{movie.poster}"
          alt="There should be something"
        />
        <div class="card-body">
          <h5 className="{{card-title}}">Title: {movie.Title}</h5>
          <br />
          <p className="{{card-text}}">
            Release date: {movie.releaseDate}
          </p>
          <br />
          <p className="{{card-text}}">Plot: {movie.storyline}</p>
          <br />
          <p className="{{card-text}}">Gener: {movie.genres}</p>
          <br />
          {/* <p class="card-text">{image_url}</p> */}
        </div>
      </div>
    );
  })} -->
